$white: #fff;
$grey50: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;
$black: #000;
$pink900: #880E4F;

div.app {
	.header {
		span.logo {
			text-transform: uppercase;
			&.active, &:hover {
				text-transform: uppercase;
			}
		}
		ul.header-nav {
			list-style: none;
			li {
				display: inline-block;
				.nav-item {
					color: $white;
					font-size: 20px;
					text-decoration: none;
					padding: 10px 20px 37px 20px;
					cursor: pointer;
					&.active, &:hover {
						color: $pink900;
						background: $white;
					}
				}
			}
		}
	}

	.product-list, .cart {
		padding-top: 100px;
	}

	footer.footer {
		font-family: 'Open Sans', sans-serif;
		background: $pink900;
		padding: 75px 0;

		//position: absolute;
		//left: 0;
		//bottom: 0;
		//width: 100%;

		ul.footer-nav {
			list-style: none;
			padding-left: 0;
			li {
				display: inline-block;
				margin-right: 18px;
				&:after {
					content: '';
					display: inline-block;
					width: 20px;
					height: 10px;
					// background: url(images/icon11.png) 15px 0 no-repeat;
				}
				&:last-child:after {
					content: '';
					display: none;
					margin-right: 0;
				}
				a {
					cursor: pointer;
					color: $white;
					font-size: 14px;
				}
			}
		}
	}
}
